* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(3, 16, 44, 0.7), rgba(3, 16, 44, 0.7)),
        url('../Images/bg.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 12px 50px;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 100px;
}

.navigation-bar {
    flex: 1;
    text-align: right;
}

.navigation-bar ul li {
    list-style: none;
    display: inline-block;
    padding: 15px;
    position: relative;
}

.navigation-bar ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.navigation-bar ul li::after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.navigation-bar ul li:hover::after {
    width: 0%;
    /* background-color: #0387bb; */
}

.navigation-bar a:hover {
    /* display: block;
    padding: 10px; */
    color: #00AFEF;
    /* background-color: #111111; */
}

.text-box {
    width: 100%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 40px;
}

.text-box p {
    margin: 20px;
    font-size: 15px;
    color: white;
    line-height: 20px;
}

.visit-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 15px 30px;
    font-size: 13px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.visit-btn:hover {
    border: 1px solid #0387bb;
    background: #0387bb;
    transition: 1s;
}

nav .fa {
    display: none;
}

/* Responsive */
@media (max-width: 700px) {
    .text-box h1 {
        font-size: 16px;
    }

    .text-box p {
        margin: 10px;
        font-size: 10px;
        color: white;
        line-height: 15px;
    }

    .navigation-bar ul li {
        display: block;
    }

    .navigation-bar {
        position: fixed;
        background: #0387bb;
        height: 100vh;
        width: 150px;
        top: 0;
        right: -150px;
        text-align: left;
        z-index: 2;

        transition: 1s;
    }

    nav .fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
    }

    .navigation-bar ul {
        padding: 30px;
    }
}

/* Course */
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

p {
    color: gray;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.sec-1 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.col-1 {
    flex-basis: 30%;
    background: #faf3f3;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 15px;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    margin: 10px;
}

.col-1:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
    transition: 0.5s;
}

@media (max-width: 700px) {

    .sec-1,
    .sec-2,
    .sec-3,
    .sec-4 {
        flex-direction: column;
    }
}

/* Sports */
.sports {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.sec-2 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.col-2 {
    flex-basis: 30%;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.col-2 img {
    width: 100%;
    display: block;
}

.layer {
    color: red;
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}

.layer:hover {
    background: rgba(0, 110, 255, 0.4);
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 26px;
    bottom: 0;
    left: 0%;
    transform: translate(-50%);
    position: absolute;
    background-color: #06b8ff;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    margin-left: 10px;
    opacity: 1;
}

/* Services */
.services {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

.sec-3 {
    margin: 5%;
    justify-content: space-between;
    display: flex;
}

.col-3 {
    flex-basis: 23%;
    position: relative;
    margin-bottom: 50px;
}

.col-3 img {
    width: 100%;
    border-radius: 10px;
}

.col-3 p {
    text-align: justify;
    line-height: 15px;
    padding: 0;
}

.col-3 h3 {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

/* Faculty */
.faculty {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.sec-4 {
    margin: 5%;
    justify-content: space-between;
    display: flex;
}

.col-4 {
    flex-basis: 44%;
    display: flex;
    padding: 25px;
    background: #faf3f3;
    text-align: justify;
    border-radius: 10px;
    margin-bottom: 5%;
    cursor: pointer;
}

.col-4 img {
    height: 60px;
    margin: 5px;
    border-radius: 50%;
}

.col-4 p {
    padding: 0;
    margin: 10px;
}

.col-4 h3 {
    margin-top: 15px;
    text-align: left;
}

.col-4 .fa {
    color: tomato;
}

@media (max-width: 700px) {
    .col-4 img {
        margin-left: 0;
        margin-right: 5px;
    }
}

/* Contact */
.contact {
    width: 80%;
    margin: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../Images/Contact.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
    text-align: center;
}

.contact h1 {
    color: white;
    margin-bottom: 40px;
    padding: 0;
}

@media (max-width: 700px) {
    .contact h1 {
        font-size: 20px;
    }
}

/* Footer */
footer {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

footer h3 {
    margin: 20px;
}

.icons .fa {
    color: #06b8ff;
    padding: 25px 0;
    margin: 0 20px;
    cursor: pointer;
}